    body {
      background-color: #D5E1EF;
    }

    h1 {
        color: #1F314F;
        text-align: center;
        font-feature-settings: 'liga' off, 'clig' off;

        font-family: Outfit;
        font-size: 1.375rem;
        font-style: normal;
        font-weight: 700;
        line-height: 120%;

        align-self: stretch;        
    } 
  
    .attribution { font-size: 0.6875rem; text-align: center; }
    .attribution a { color: hsl(228, 45%, 44%); }
